{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
	JIRA Ticket Viewer
{% endblock title %}
{% block head_block %}
    <link id="bootstrap-style" href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'bootstrap-responsive.min.css' %}" rel="stylesheet">
	<link id="base-style" href="{% static 'style.css' %}" rel="stylesheet">
	<link id="base-style-responsive" href="{% static 'style-responsive.css' %}" rel="stylesheet">
	
	
{% endblock %}


{% block container_block %}
	
	{% block tab_content %}
		<h1>JIRA Ticket Viewer</h1>
  		<div class="panel-collapse collapse in">
			<div class="col-lg-3"></div>
			<div class="col-lg-6" style="text-align:center">
			<div class="form-group">
				<select class="form-control" id='project_dropdown' data-placement="left"  >
					<option disabled selected>---Select Project---</option>
		   			{% for key, value in project_list.items %}
		   				<option value={{value.board_id}}>{{value.name}}</option>	    				
		   			{% endfor %}
		  		</select>
			</div>
			
			<div class="form-group">
				<select class="form-control " id='sprint_dropdown' data-placement="left">
					<option disabled selected>---Select Sprint---</option>
				</select>
				
		  	</div>
		  	
			<!-- <div class="form-group">
			  	<input class="form-control" data-placement="left" style="padding-left:17px" type="text"  id="users_txt" 
			  	placeholder="Input QA Engineer Name" data-toggle="tooltip" title='Multiple QA names can be separated by comma, ex: "Gordon James, Andy Lau"'>
		  	</div> -->
		  
		  	<div class="form-group" id="qa">
		  		<select class="form-control" multiple="multiple" id="qaEngineers">
				  
				</select>
		  	</div>
		  	
		  	<div class="col-lg-3"></div>
		  	<div class="col-lg-4" style="text-align:center">
		  		<button class="btn btn-primary btn-block" type="button" id="getStoryPoint_btn" >Get Story</button>
		  	</div>
		  	
		  	<div class="form-group">
				<div class="row"></div>
			</div>
			
			<div class="form-group" id="table">
				
			</div>
		</div>
	</div>
	
	<!-- Loading Modal -->
	<div class="modal fade" id="loadingModal" >
	    <div style="width: 200px;height:20px; z-index: 20000; position: absolute; text-align: center; left: 50%; top: 50%;margin-left:-100px;margin-top:-10px">
	        <div class="progress progress-striped active" style="margin-bottom: 0;">
	            <div class="progress-bar" style="width: 100%;"></div>
	        </div>
	        <h5>Loading...</h5>
	    </div>
	</div>
	
	<!-- Assign Detail Modal -->
	<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="assignModalTitle">Modal title</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        ...
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	{% endblock %}
	
{% endblock %}

{% block script_block %} 
	
	{{block.super}}
	
	<script type="text/javascript">
		var csrf_token = "{{ csrf_token }}";
		var storyPoint_map = {}
		$(document).ready(function() {
			$("#project_dropdown").on('change', {
				csrf_token : "{{ csrf_token }}"
			}, function(event) {
				processProjectDropDownChange(event);
			});
			$("#sprint_dropdown").on('change', {
				csrf_token : "{{ csrf_token }}"
			}, function(event) {
				processSprintDropDownChange(event);
			});
			$("#getStoryPoint_btn").on('click', {
				csrf_token : "{{ csrf_token }}"
			}, function(event) {
				getStoryPoint(event);
			});
			
			
			$("#table").hide();
			
			$("#qaEngineers").multiselect({
    			includeSelectAllOption: true,
    			buttonWidth: $(".form-group").width(),
	            nonSelectedText: '---Select QA Engineers---',
	            numberDisplayed: 20,
	            maxHeight: 300
	        });	
		})

		function processProjectDropDownChange(event)
        {
			$('#sprint_dropdown').empty()
            var selectedProjectKey = $("#project_dropdown").val();	      			 
		    if(selectedProjectKey == null || selectedProjectKey == '---Select Project---') {
		    	return
		    }
			$('#loadingModal').modal({backdrop: 'static', keyboard: false});
            $("#loadingModal").modal('show');
		    $.ajax({
		        url : "loadSprintsByProject/",
		        type : "POST",
		        data : {"board_id" : selectedProjectKey},
				headers:  {"X-CSRFToken": event.data.csrf_token },

		        success: 
		        	function(data)
		        	{
		        		sprintList = data['sprint_list']
		        		 for (var i = 0; i<sprintList.length; i++){
		        	            $("#sprint_dropdown").append(new Option(sprintList[i]['name'], sprintList[i]['id']));
		        	            if(sprintList[i]['state'] == 'ACTIVE'){
		        	            	$('#sprint_dropdown').val(sprintList[i]['id']);
		        	            }
		        	        }
		        		
		        		//get stories from selected sprint
		        		//$('#qa').empty()
		        		//$("#qa").append("<select class=\"form-control\" multiple=\"multiple\" id=\"qaEngineers\"></select>")

		        		var selectedSprintID = $("#sprint_dropdown").val();	      			 
					    if(selectedSprintID == null || selectedSprintID == '---Select Sprint---') {
					    	return
					    }
			            var sprintName = $("#sprint_dropdown option:selected").text();
						var json = {
								"project" : selectedProjectKey,
								"sprint" : sprintName,
								"QAs" : ''
							};
						$.ajax({
					        url : "searchJira/",
					        type : "POST",
					        data : json,
							headers:  {"X-CSRFToken": event.data.csrf_token },

					        success: 
					        	function(data)
					        	{
					        		$('#qa').empty()
				        			$("#qa").append("<select class=\"form-control\" multiple=\"multiple\" id=\"qaEngineers\"></select>")
				        			storyPoint_map = data['storyPoint_map']
					        		if(Object.keys(storyPoint_map).length>0){
					        			options = Object.keys(storyPoint_map).sort()
						        		for (i=0;i<options.length;i++){
					        	            $("#qaEngineers").append(new Option(options[i], options[i]));
						        		}
						        		$("#qaEngineers").multiselect({
						        			includeSelectAllOption: true,
						        			buttonWidth: $(".form-group").width(),
						    	            nonSelectedText: '---Select QA Engineers---',
						    	            numberDisplayed: 20,
						    	            maxHeight: 300
						    	        });	
						        		$("#loadingModal").modal('hide');

					        		}

					        		else{
					    				alert("No Jira Ticket Found under selected sprint!")
					    			}
					        	},
							error:
								function(data)
					        	{
			    					alert("Load Error!")

					        	}
						});
		        		
		        	},
				error:
					function(data)
		        	{
						$("#loadingModal").modal('hide');
	    				alert("Load sprint failed!")

		        	}
			});
		}
		
		function processSprintDropDownChange(event)
        {
			$('#table').empty();

            var selectedSprintID = $("#sprint_dropdown").val();	      			 
		    if(selectedSprintID == null || selectedSprintID == '---Select Sprint---') {
		    	return
		    }
            var projectKey = $("#project_dropdown").val();	      			 
            var sprintName = $("#sprint_dropdown option:selected").text();
			var users =  '';
			var json = {
					"project" : projectKey,
					"sprint" : sprintName,
					"QAs" : users
				};
            $("#loadingModal").modal('show');
		    $.ajax({
		        url : "searchJira/",
		        type : "POST",
		        data : json,
				headers:  {"X-CSRFToken": event.data.csrf_token },

		        success: 
		        	function(data)
		        	{
		        		$("#qa").empty()
	        			$("#qa").append("<select class=\"form-control\" multiple=\"multiple\" id=\"qaEngineers\"></select>")
		        		storyPoint_map = data['storyPoint_map']
		        		if(Object.keys(storyPoint_map).length>0){
		        			options = Object.keys(storyPoint_map).sort()
			        		for (i=0;i<options.length;i++){
		        	            $("#qaEngineers").append(new Option(options[i], options[i]));
			        		}
			        		$("#qaEngineers").multiselect({
			        			includeSelectAllOption: true,
			        			buttonWidth: $(".form-group").width(),
			    	            nonSelectedText: '---Select QA Engineers---',
			    	            numberDisplayed: 20,
			    	            maxHeight: 300
			    	        });		
		    	            $("#loadingModal").modal('hide');
		        		}
		        		

		        		else{
		    				alert("No Jira Ticket Found!")
		    			}
		        	},
				error:
					function(data)
		        	{
						
		        	}
			});
		}
		
		function getStoryPoint(event)
        {
			$('#table').empty();
       		if(Object.keys(storyPoint_map).length>0){
       	        $("#table").append("<table class=\"table table-striped table-bordered sortable\" id=\"storyPoint_table\">"
       	        		+ "<thead><tr><th style=\"text-align:center\">QA Engineer</th>"
       	        		+ "<th style=\"text-align:center\">Story Count</th>"
       	        		+ "<th style=\"text-align:center\">Total Points</th>"
       	        		+ "</tr></thead><tbody></tbody></table>");
       		qaList_arr = $(".btn-group button").attr("title").trim().split(',')	
       			
        		for (i=0; i<qaList_arr.length; i++){
        			item = qaList_arr[i].trim()
        			tickets = storyPoint_map[item] 
        			var totalPoints = 0
        			for(var ticket of tickets)
        			{
        				totalPoints = totalPoints + ticket['point']
        			}
        	        $("#storyPoint_table tbody").append("<tr><td><a target=\"_blank\" href=\"{% url 'assignDetail' %}?QA=" + item + "\">" + item + "</td><td>" + tickets.length + "</td><td>" + totalPoints + "</td></tr>");
        	    }
    			$('#table').show()
    			
				
				$('#storyPoint_table').DataTable({
    				"ordering": true // false to disable sorting (or any other option)
    				});
    			$('.dataTables_length').addClass('bs-select');
       		}
       		else{
   				alert("No Jira Ticket Found!")
   			}
       		$("#loadingModal").modal('hide');
		        
				
			
		} 
		
		function getStoryPoint1(event)
        {
			$('#table').empty();
			var projectKey = $("#project_dropdown").val();	      			 
            var sprintName = $("#sprint_dropdown option:selected").text();
			var users =  $("#users_txt").val().split(',').toString();
			var json = {
					"project" : projectKey,
					"sprint" : sprintName,
					"QAs" : users
				};
            $("#loadingModal").modal('show');
		    $.ajax({
		        url : "searchJira/",
		        type : "POST",
		        data : json,
				headers:  {"X-CSRFToken": event.data.csrf_token },

		        success: 
		        	function(data)
		        	{
		        		storyPoint_map = data['storyPoint_map']
		        		if(Object.keys(storyPoint_map).length>0){
		        	        $("#table").append("<table class=\"table table-striped table-bordered sortable\" id=\"storyPoint_table\">"
		        	        		+ "<thead><tr><th style=\"text-align:center\">QA Engineer</th>"
		        	        		+ "<th style=\"text-align:center\">Story Count</th>"
		        	        		+ "<th style=\"text-align:center\">Total Points</th>"
		        	        		+ "</tr></thead><tbody></tbody></table>");
		        			
		        			
			        		for (var item in storyPoint_map){
			        			tickets = storyPoint_map[item] 
			        			var totalPoints = 0
			        			for(var ticket of tickets)
			        			{
			        				totalPoints = totalPoints + ticket['point']
			        			}
			        	        $("#storyPoint_table tbody").append("<tr><td><a href=\"{% url 'assignDetail' %}?QA=" + item + "\">" + item + "</td><td>" + tickets.length + "</td><td>" + totalPoints + "</td></tr>");
			        	    }
			    			$('#table').show()
			    			
							
							$('#storyPoint_table').DataTable({
			    				"ordering": true // false to disable sorting (or any other option)
			    				});
			    			$('.dataTables_length').addClass('bs-select');
		        		}
		        		else{
		    				alert("No Jira Ticket Found!")
		    			}
		        		$("#loadingModal").modal('hide');
		        	},
				error:
					function(data)
		        	{
						$("#loadingModal").modal('hide');
		        	}
			});
		} 
		
			
	</script>
		
{% endblock %}